html,
.body {
  height: 100%;
  margin: 0;
  background: #ffffff;
}
.container {
  padding: 32px 48px 0px;
  display: flex;
  flex-direction: column;
}
.page-header {
  background: #a8a8ff;
}
.page-header__page-name {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.2px;
}
.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #a8a8ff;
  padding: 8px 8px;
}
.filter-row__filter-group {
  display: flex;
}
.filter-row__filter-input {
  width: 256px;
  background: #8055ff;
}
.filter-row__filter-button {
  width: 32px;
  height: 32px;
  background: #8055ff;
  margin: 0px 8px;
}
.filter-row__filter-loading {
  width: 32px;
  height: 32px;
  background: #8055ff;
}
.table {
  display: flex;
  flex-direction: column;
  background: #8055ff;
  border: 2px solid #8055ff;
  box-sizing: border-box;
  max-height: 75.9vh;
}
.table__header {
  height: 48px;
  background: #8055ff;
}
.table__body {
  height: 512px;
  background: #a8a8ff;
  overflow-y: scroll;
}
.table__footer {
  height: 48px;
  background: #8055ff;
  position: sticky;
  bottom: 0px;
}
