.container__buttons {
  width: 576px;
  height: 376px;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 105px;
  margin-left: 25px;
}
.button-group {
  display: flex;
  padding: 48px 48px;
}
.buttons-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 48px;
}
.buttons-list__button {
  margin-bottom: 16px;
}
.buttons-list__button-icon {
  margin-bottom: 48px;
}
.button {
  border: none;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.button_theme_primary {
  background: #459df5;
  color: #ffffff;
}
.button_theme_secondary {
  background: #ffffff;
  color: #459df5;
}
.button_theme_tertiary {
  background: #ffffff;
  color: #000000;
}
.button_size_large {
  padding: 8px 16px;
  height: 32px;
}
.button_size_small {
  padding: 4px 8px;
  height: 24px;
}
.button_size_large-icon {
  padding: 8px;
  height: 32px;
  width: 32px;
}
.button_size_small-icon {
  padding: 4px;
  width: 24px;
  height: 24px;
}
.icon {
  height: 16px;
  width: 16px;
}
.button_theme_primary .icon {
  fill: #ffffff;
}
.button_theme_secondary .icon {
  fill: #459df5;
}
.button_theme_tertiary .icon {
  fill: #808080;
}
.button_size_large .icon {
  margin-right: 8px;
}
.button_size_small .icon {
  margin-right: 4px;
}
