.container__searchbar {
  width: 352px;
  height: 192px;
  margin-left: 400px;
  margin-top: -385px;
  border-radius: 5px;
  border: 1px dashed #8055ff;
  padding: 48px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.searchbar-row {
  position: relative;
  width: 256px;
}
.searchbar-button {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
.searchbar-row__form {
  width: 100%;
  height: 32px;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
}
.searchbar-row__form {
  padding: 8px 36px 8px 32px;
}
.searchbar-row__form::placeholder {
  color: #bad8f5;
}
.searchbar-row__form:focus {
  box-shadow: 0 0 10px rgb(99, 161, 233);
  border: 1px solid #459df5;
  outline: none;
}
.searchbar-button__button-clear {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  right: 8px;
  opacity: 0.3;
}
.searchbar-button__button-search {
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
}
